[package]
name = "test-no-std"
version = "0.6.0"
authors = ["Alain Brenzikofer <alain.brenzikofer@scs.ch>"]
edition = "2021"

[dependencies]
libc = { version = "0.2.119", default-features = false }

# local dependencies
substrate-api-client = { path = "..", default-features = false }

# substrate dependencies
sp-io = { version = "6.0.0", default-features = false, features = ["disable_oom", "disable_panic_handler"], git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.19" }
