[package]
name = "ac-node-api"
version = "0.18.0"
authors = ["Supercomputing Systems AG <info@scs.ch>"]
license = "Apache-2.0"
edition = "2021"
repository = "https://github.com/scs/substrate-api-client"
description = "Substrate node type definitions and helpers for the substrate-api-client"
readme = "README.md"
categories = ["no-std"]

[dependencies]
bitvec = { version = "1.0.0", default-features = false, features = ["alloc"] }
codec = { package = "parity-scale-codec", version = "3.6.1", features = ["derive", "bit-vec"], default-features = false }
derive_more = { version = "0.99.17" }
either = { version = "1.6.1", default-features = false }
frame-metadata = { version = "16.0", default-features = false, features = ["current", "serde_full", "decode"] }
hex = { version = "0.4.3", default-features = false }
log = { version = "0.4.14", default-features = false }
scale-bits = { version = "0.4.0", default-features = false, features = ["scale-info", "serde"] }
scale-decode = { version = "0.10.0", default-features = false, features = ["primitive-types", "derive"] }
scale-encode = { version = "0.5.0", default-features = false, features = ["bits", "primitive-types", "derive"] }
scale-info = { version = "2.0.1", features = ["derive", "decode", "bitvec"], default-features = false }
scale-value = { version = "0.13.0", default-features = false }
serde = { version = "1.0.136", features = ["derive"], default-features = false }
serde_json = { version = "1.0.79", default-features = false, features = ["alloc"] }

# substrate
sp-core = { default-features = false, features = ["full_crypto", "serde"], version = "34.0.0" }
sp-crypto-hashing = { default-features = false, version = "0.1.0" }
sp-runtime = { default-features = false, features = ["serde"], version = "38.0.0" }
sp-storage = { default-features = false, features = ["serde"], version = "21.0.0" }

# need to add this for `no_std`
sp-application-crypto = { default-features = false, features = ["full_crypto"], version = "37.0.0" }
sp-runtime-interface = { default-features = false, version = "28.0.0" }

# local
ac-primitives = { path = "../primitives", version = "0.18", default-features = false }

[dev-dependencies]
test-case = "3.1.0"

[features]
default = ["std"]
# To support `no_std` builds in non-32 bit environments.
disable_target_static_assertions = [
    "sp-runtime-interface/disable_target_static_assertions",
]
std = [
    "bitvec/std",
    "codec/std",
    "either/default",
    "frame-metadata/std",
    "hex/std",
    "log/std",
    "scale-info/std",
    "serde/std",
    "serde_json/std",
    # substrate
    "sp-core/std",
    "sp-runtime/std",
    # no_std support
    "sp-application-crypto/std",
    "sp-runtime-interface/std",
    "sp-storage/std",
]
# Enable import of test_utils also outside of crate (feature test does not allow to do so).
mocks = []
