[package]
name = "ac-testing-sync"
version = "1.16.0"
authors = ["Supercomputing Systems AG <info@scs.ch>"]
license = "Apache-2.0"
edition = "2021"

[dev-dependencies]
# Substrate dependencies
sp-application-crypto = { version = "38.0.0" }
sp-core = { version = "34.0.0" }
sp-runtime = { version = "39.0.1" }

# local deps
substrate-api-client = { path = "../..", version = "1.16", default-features = false, features = ["tungstenite-client", "ws-client", "disable-metadata-hash-check"] }
ac-keystore = { path = "../../keystore", version = "1.16" }
