[package]
name = "substrate-api-client"
version = "2.0.0"
authors = ["Supercomputing Systems AG <info@scs.ch>"]
edition = "2018"

[dependencies]
env_logger      = { version = "0.6", optional = true }
ws              = { version = "0.7", optional = true }
hex             = { version = "0.3", default-features=false, optional = true }
log             = { version = "0.4", optional = true }
serde           = { version = "1.0", optional = true, features = ["derive"] }
serde_json      = { version = "1.0", optional = true }
primitive-types = { version = "0.5", default-features = false, features = ["codec"] }
parity-codec-derive = { version = "3.3", default-features = false }

[dependencies.primitives]
path = "./primitives"
default-features=false
package = "substrate-primitives"

[dependencies.codec]
package = "parity-scale-codec"
features = ["derive"]
version = "1.0.0"
default-features = false

[dependencies.indices]
git = 'https://github.com/paritytech/substrate'
rev = '9b08e7ff938a45dbec7fcdb854063202e2b0cb48'
package = "srml-indices"
default-features=false

[dependencies.runtime_io]
git = 'https://github.com/paritytech/substrate'
rev = '9b08e7ff938a45dbec7fcdb854063202e2b0cb48'
package = "sr-io"
default-features=false

[dependencies.metadata]
git = 'https://github.com/paritytech/substrate'
rev = '9b08e7ff938a45dbec7fcdb854063202e2b0cb48'
package = "srml-metadata"
default-features=false

[dependencies.runtime_version]
git = 'https://github.com/paritytech/substrate'
rev = '9b08e7ff938a45dbec7fcdb854063202e2b0cb48'
package = "sr-version"
default-features=false

[dependencies.balances]
git = 'https://github.com/paritytech/substrate'
rev = '9b08e7ff938a45dbec7fcdb854063202e2b0cb48'
package = "srml-balances"
default-features=false

[dependencies.system]
git = 'https://github.com/paritytech/substrate'
rev = '9b08e7ff938a45dbec7fcdb854063202e2b0cb48'
package = "srml-system"
default-features=false

[dependencies.runtime_primitives]
git = 'https://github.com/paritytech/substrate'
rev = '9b08e7ff938a45dbec7fcdb854063202e2b0cb48'
package = "sr-primitives"
default-features=false

[dependencies.runtime_support]
git = 'https://github.com/paritytech/substrate'
rev = '9b08e7ff938a45dbec7fcdb854063202e2b0cb48'
package = "srml-support"
default-features=false

[dependencies.rstd]
git = 'https://github.com/paritytech/substrate'
rev = '9b08e7ff938a45dbec7fcdb854063202e2b0cb48'
package = "sr-std"
default-features = false

[dev-dependencies.node_runtime]
git = 'https://github.com/paritytech/substrate'
rev = '9b08e7ff938a45dbec7fcdb854063202e2b0cb48'
package = "node-runtime"

[dev-dependencies.node_primitives]
git = 'https://github.com/paritytech/substrate'
rev = '9b08e7ff938a45dbec7fcdb854063202e2b0cb48'
package = "node-primitives"

[dev-dependencies.contracts]
git = 'https://github.com/paritytech/substrate'
rev = "9b08e7ff938a45dbec7fcdb854063202e2b0cb48"
package = "srml-contracts"

[dev-dependencies]
wabt = "0.9.0"

[dev-dependencies.keyring]
git = 'https://github.com/paritytech/substrate'
rev = '9b08e7ff938a45dbec7fcdb854063202e2b0cb48'
package = "substrate-keyring"

[dev-dependencies.clap] 
version = "2.33"
features = ["yaml"] 

[features]
default = ["std"]
std = [
	"primitives/std",
	"codec/std",
    "runtime_primitives/std",
	"runtime_support/std",
	"runtime_primitives/std",
	"system/std",
	"balances/std",
	"runtime_version/std",
	"metadata/std",
	"runtime_io/std",
	"indices/std",
	"primitives/std",
	"serde/std",
	"serde_json",
	"env_logger",
	"log",
	"ws",
	"hex",
]

[[example]]
name = "example_get_storage"
path = "src/examples/example_get_storage.rs"

[[example]]
name = "example_transfer"
path = "src/examples/example_transfer.rs"

[[example]]
name = "example_event_callback"
path = "src/examples/example_event_callback.rs"

[[example]]
name = "example_generic_extrinsic"
path = "src/examples/example_generic_extrinsic.rs"

[[example]]
name = "example_print_metadata"
path = "src/examples/example_print_metadata.rs"

[[example]]
name = "example_contract"
path = "src/examples/example_contract.rs"

[[example]]
name = "example_custom_storage_struct"
path = "src/examples/example_custom_storage_struct.rs"

[[example]]
name = "example_compose_extrinsic_offline"
path = "src/examples/example_compose_extrinsic_offline.rs"

[patch."https://github.com/paritytech/substrate"]
substrate-primitives = { package = "substrate-primitives", path = "./primitives", default-features=false }

[patch.crates-io]
ed25519-dalek = { git = "https://github.com/scs/ed25519-dalek.git", branch = "no_std_sgx"}
