[package]
name = "ac-compose-macros"
version = "0.3.0"
authors = ["Supercomputing Systems AG <info@scs.ch>"]
license = "Apache-2.0"
edition = "2021"
repository = "https://github.com/scs/substrate-api-client"
description = "Macros for creating Substrate extrsinics and rpc calls"
readme = "README.md"
categories = ["no-std"]


[dependencies]
log = { version = "0.4.14", default-features = false }

# local
ac-primitives = { version = "0.6", default-features = false }

[features]
default = ["std"]
# To support `no_std` builds in non-32 bit environments.
disable_target_static_assertions = [
    "ac-primitives/disable_target_static_assertions",
]
std = [
    "log/std",
    # local
    "ac-primitives/std",
]
