[package]
name = "ac-testing-async"
version = "0.18.0"
authors = ["Supercomputing Systems AG <info@scs.ch>"]
license = "Apache-2.0"
edition = "2021"

[dev-dependencies]
codec = { package = "parity-scale-codec", version = "3.6.1", features = ['derive'] }
tokio = { version = "1.24", features = ["rt-multi-thread", "macros", "time"] }
jsonrpsee = { version = "0.24", features = ["async-client", "client-ws-transport-tls", "jsonrpsee-types", "server"] }


# Substrate dependencies
frame-support = { version = "38.0.0" }
rococo-runtime = { version = "18.0.0" }
sp-core = { version = "34.0.0" }
sp-crypto-hashing = { version = "0.1.0" }
sp-keyring = { version = "39.0.0" }
sp-runtime = { version = "39.0.1" }
sp-staking = { version = "36.0.0" }
pallet-balances = { version = "39.0.0" }
pallet-society = { version = "38.0.0" }

# local deps
substrate-api-client = { path = "../..", version = "0.18", features = ["staking-xt", "contracts-xt", "disable-metadata-hash-check"] }
