[package]
name = "ac-examples-async"
version = "1.17.0"
license = "Apache-2.0"
edition = "2021"

[dev-dependencies]
codec = { package = "parity-scale-codec", version = "3.7", features = ['derive'] }
env_logger = "0.11"
log = "0.4"
serde_json = "1.0"
tokio = { version = "1.24", features = ["rt-multi-thread", "macros", "time"] }
tokio-util = "0.7"
wabt = "0.10"

# Substrate dependencies
frame-support = { version = "39.0.0" }
frame-system = { version = "39.1.0" }
rococo-runtime = { version = "21.0.0" }
pallet-balances = { version = "40.0.1" }
pallet-identity = { version = "39.0.0" }
pallet-recovery = { version = "39.0.0" }
pallet-staking = { version = "39.0.1" }
sp-core = { version = "35.0.0" }
sp-keyring = { version = "40.0.0" }
sp-runtime = { version = "40.1.0" }
sp-weights = { version = "31.0.0" }
dilithium-crypto = { workspace = true, default-features = false, features = ["full_crypto"] }

# local deps
substrate-api-client = { path = "../..", version = "1.17", features = ["staking-xt", "contracts-xt", "jsonrpsee-client"] }
